.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  flex-direction: row;
}
.rows {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
button {
  height: 100px;
  width: 100px;
  margin: 3px;
}
.img {
  height: 80px;
}
